@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #6ab7f5, #f0f8ff);
}

.header {
  width: 90%;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.header .logo {
  height: 120px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  width: 90%;
  max-width: 600px;
  position: relative;
}

.pokedex-card {
  position: relative;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 30px 25px rgba(0,0,0,0.2);
}

.pokedex-bg {
  width: 100%;
  display: block;
  border-radius: 15px;
}

.pokemon-center {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon__image {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-bottom: 10px;
}

.pokemon__data {
  font-weight: 600;
  color: #3a444d;
  font-size: 1.3rem;
  text-align: center;
  text-transform: capitalize;
}


.info-card {
  background: rgba(243, 240, 240, 0.808);
  padding: 10px 15px;
  border-radius: 10px;
  margin-top: 10px;
  max-width: 250px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.info-card p {
  margin: 5px 0;
  font-weight: 500;
  color: #333;
  font-size: 0.9rem;
}


.form {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  width: 100%;
}

.input__search {
  flex: 1;
  padding: 10px 15px;
  border: 2px solid #333;
  border-radius: 8px 0 0 8px;
  outline: none;
  font-size: 1rem;
}

.button.btn-search {
  padding: 10px 15px;
  border: 2px solid #333;
  border-left: none;
  border-radius: 0 8px 8px 0;
  background-color: #4a90e2;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.button.btn-prev,
.button.btn-next {
  flex: 1;
  padding: 10px 0;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  background-color: #4a90e2;
  color: white;
  cursor: pointer;
}

.button.button.btn-prev:hover
{
  background-color: #013b83; 
}

.button.btn-next:hover {
  background-color: #013b83;
}


.button.btn-random {
  flex: 1;
  padding: 10px 0;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  background-color: #f39c12; 
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.button.btn-random:hover {
  background-color: #f3410a; 
}

@media (max-width: 500px) {
  .pokemon__image {
    width: 120px;
    height: 120px;
  }

  .pokemon__data {
    font-size: 1rem;
  }

  .info-card {
    max-width: 200px;
  }

  .input__search, .button {
    font-size: 0.9rem;
  }
}
